.banner {
    width: 1000px;
    position: relative;
    margin: auto;
}

.banner .first,
.banner .second,
.banner .third,
.banner .fourth,
.banner .fifth {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgba(256, 256, 256, 0.5);
    height: 250px;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.banner .first h2,
.banner .second h2,
.banner .third h2,
.banner .fourth h2,
.banner .fifth h2 {
    padding-top: 10px;
    margin-left: 36px;
    font-size: 30px;
    text-indent: 2em;
}

.banner .first p,
.banner .second p,
.banner .third p,
.banner .fourth p,
.banner .fifth p {
    margin-left: 60px;
    margin-right: 10px;
    font-size: 20px;
    text-indent: 2em;
}

.banner .second {
    height: 300px;
}

.banner .third {
    position: relative;
    height: 650px;
}

.banner .third img,
.banner .fourth img,
.banner .fifth img {
    margin-left: 14px;
    width: 480px;
    height: 290px;
    float: left;
}

.banner .third .edg{
    position: absolute;
    left: 100px;
    bottom: 7px;
}

.banner .third .rice{
    position: absolute;
    right: 100px;
    bottom: 7px;
}

.banner .fourth {
    position: relative;
    height: 920px;
}

.banner .fourth .HuaShan{
    position: absolute;
    left: 135px;
    bottom: 7px;
}

.banner .fourth .ShuangYueWan{
    position: absolute;
    right: 87px;
    bottom: 7px;
}

.banner .fifth {
    position: relative;
    height: 540px;
}